<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% feed_meta %}
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
  <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="/js/bigfoot.min.js"></script>
  <script type="text/javascript">
	    var bigfoot = $.bigfoot(
	        {
	        actionOriginalFN: "ignore",
	        positionContent: "false",
	        allowMultipleFN: "true",
	        activateOnHover: "true",
	        deleteOnUnhover: "true"
	        }
	    );
	 </script>
</head>
