<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="fb:app_id" content="1447391898650771" />
  <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/js/jquery.fitvids.js"></script>
  <script type="text/javascript" src="/js/bigfoot.min.js"></script>
  <script type="text/javascript">
	    var bigfoot = $.bigfoot(
	        {
	        actionOriginalFN: "ignore",
	        positionContent: "false",
	        allowMultipleFN: "true",
	        activateOnHover: "true",
	        deleteOnUnhover: "true"
	        }
	    );
	 </script>

   <script>
     $(document).ready(function(){
       // Target your .container, .wrapper, .post, etc.
       $(".post").fitVids();
     });
   </script>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% feed_meta %}
  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">

  <!-- You can use Open Graph tags to customize link previews.
     Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="https://hyungyunlim.github.io/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="junlim's blog" />
  <meta property="og:description"   content="junlim's posts and articles" />
  <meta property="og:image"         content="https://hyungyunlim.github.io/images/IMGIBBLE_final.png" />
</head>
